html{
    box-sizing: border-box;
    height: 100%;
}
*,*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background-color:rgb(79, 79, 79);
    display: flex;
    font-family: 'Dosis',sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.wrapper{
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color: #232323;
    background: rgba(0, 0, 0, 0.42);
    border: 1px solid rgba(255,255,255,0.34);
    height: 540px;
    width: 340px;
    padding: 20px 35px;
}
.screen{
    background: rgba(255,255,255,0.75);
    border: 1px solid rgba(255,255,255,0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
}

.calc-button-row{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}
.calc-button{
    background: rgba(255,255,255,0.75);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color: #232323;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
    transition: all 0.1s ease-in-out;
}
.calc-button:last-child{
    background: rgba(255,255,255,0.75);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color: black;
    background: rgb(238, 170, 42);   
}
.calc-button:hover{
    background-color: rgb(109, 106, 106);
    color: white;
    border: none;
}
.calc-button:last-child:hover{
    background-color: rgb(255, 166, 0);
    color: black;
    box-shadow: none;
    font-size: 2rem;
}
.calc-button:active{
    background-color: rgb(80, 74, 74);
    color: white;
}
.calc-button:last-child:active{
    background-color: rgb(237, 191, 105);
    color: rgb(102, 102, 102);
}
.double{
    flex-basis: 47%;
}
.triple{
    flex-basis: 73%;
}
@media screen and (max-width:700px) {
    body{
        padding: 0 20px;
    }
}
